*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Blackword;
    src: local(Blacksword), url(./font/Blacksword.otf);
}

.fundo--degrade{
    background-image: -webkit-linear-gradient(right, #1f41fd, #00ffdd);
}

.conteudo{
    margin-top: 150px;
}

.logo{
    font-family: Blackword;
    font-size: 2.5em;
}

.icone{
    font-size: 2em;
    color: black;
}

.menu--link:hover, .icone:hover{
    color: white;
    cursor: pointer;
}

.nav-item a{
    background-image: linear-gradient(white, white);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.5s ease;
}

.nav-item a:hover{
    background-size: 100% 2px;
}

/* Modos de Tela */
    #modos--tela-ld{
        background-image: url('./icones/sol.png');
    }
/* </> */

#tecnologias{
    background-color: rgba(0, 0, 0, 0.5);
}

.icone__tecnologias{
    width: 100px;
    transition: scale 0.5s;
}

.icone__tecnologias:hover{
    scale: 1.5;
    cursor: pointer;
}