/* Fontes */
@font-face {
    font-family: Blackword;
    src: local(Blacksword), url(../font/Blacksword.otf);
}

/* Define variáveis css para serem usadas no doc */
/* O root (raiz) basicamente referencia o html */
/* Vai atribuir esses estilos ao tema dark */
:root[data-theme='dark'] {
    --primary-color: #f0f0f0;

    --primary-bg-color: rgb(8, 8, 8);
    --primary-bg-color-degrade: rgba(8, 8, 8, 0.815);
    --secondary-bg-color: #1c1c1c;
    --accordion-body-bg-color: #fff;

    --border-color: #28292e;

    --title-color: #000;
    --text-color: #fff;
    --accordion-body-text-color: #000;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;

    --form-background: linear-gradient(
        180deg,
        rgb(8, 8, 8) 0%,
        rgb(8, 8, 8) 50%,
        rgba(8, 8, 8, 0.5) 100%
    );
}

/* Vai atribuir esses estilos ao tema light */
:root[data-theme='light'] {
    --primary-color: #0b0b0f;

    --primary-bg-color: rgb(247, 247, 247);
    --primary-bg-color-degrade: rgba(247, 247, 247, 0.815);
    --secondary-bg-color: #757575;
    --accordion-body-bg-color: #000;

    --border-color: #c7c8c9;

    --title-color: #fff;
    --text-color: #000;
    --accordion-body-text-color: #fff;
    --link-color: #28292e;
    --icon-color: #56575a;

    --form-background: linear-gradient(
        180deg,
        rgb(247, 247, 247) 0%,
        rgb(247, 247, 247) 50%,
        rgba(247, 247, 247, 0.5) 100%
    );
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

/* Estilos gerais */
body{
    background-color: var(--primary-bg-color);
}

.titulo{
    font-family: Blackword;
    color: black;
}

/* Configurando tamanhos de fontes */
main, .formulario input, .btn{
    font-size: 0.9em;
}

.accordion-button{
    font-size: 0.6em;
}

footer{
    font-size: 0.8em;
}

/* Cabeçalho */
.logo{
    font-family: Blackword;
    font-size: 2em;
    user-select: none;
}

/* Filtro para inverter a cor de uma logo/imagens */
html[data-theme='dark'] .logo {
    filter: invert(1) !important;
}

html[data-theme='dark'] .navbar-toggler{
    filter: invert(1) !important;
}

nav{
    background-color: var(--primary-bg-color);
}

.cabecalho__toggle{
    cursor: pointer;
    color: #1f41fd; /* Cor quando está no modo escuro (lua) */
}

[data-theme="dark"] .cabecalho__toggle {
    color: #FFA833; /* Cor quando está no modo claro (sol) */
}

.menu--link, .icone{
    color: var(--text-color);
    cursor: pointer;
}

.menu--link:hover, .icone:hover{
    color: var(--text-color);
}

.nav-item a{
    background-image: linear-gradient(var(--text-color), var(--text-color));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.5s ease;
}

.nav-item a:hover{
    background-size: 100% 2px;
}

.icone{
    font-size: 2em;
}

.icone:hover{
    color: #FFA833 !important;
}

/* Seção Início */
.video__fundo{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: start;
    margin-top: 200px;
}

.video__fundo video{
    width: 100vw;
}

.video__fundo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, var(--primary-bg-color) 2%, var(--primary-bg-color-degrade),#1f40fd59, #00ffdd57);
}

.apresentacao{
    color: white;
    z-index: 2;
    font-size: 1em;
    margin-top: -80px;
    text-align: center;
    text-shadow: 1px 1px 2px var(--title-color);
}

.apresentacao h1{
    font-family: Blackword;
    color: #FFA833;
}

.apresentacao p{
    font-size: 0.9em;
    color: var(--text-color);
}

.apresentacao span{
    font-size: 1.1em;
}

.fundo--degrade{
    background-image: -webkit-linear-gradient(right, #1f41fd, #00ffdd);
    color: black;
}

/* Seção Sobre */
.sobre{
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}

.sobre div img{
    border: 2px solid #FFA833;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
    max-width: 15rem;
}

.sobre div p{
    text-align: justify;
}

.sobre i{
    font-size: 1.5em;
}

.subtitulo{
    color: #FFA833;
}

/* Sanfona */
.accordion-item {
    border: 2px solid #FFA833;
}

.accordion-button {
    background-color: var(--primary-bg-color); 
    color: var(--text-color);
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-bg-color); 
    color: var(--text-color);
}

.accordion-body {
    background-color: var(--accordion-body-bg-color);
    color: var(--accordion-body-text-color);
}

/* Seção Projetos */
.card{
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    border: 2px solid #FFA833;
    padding: 10px;
    transition: transform 0.1s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card-title{
    color: #FFA833;
}

/* Seção Tecnologias */
.tecnologias{
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}

.icone__tecnologias{
    width: 100px;
    transition: scale 0.5s;
}

.icone__tecnologias:hover{
    scale: 1.3;
    cursor: pointer;
}

/* Seção Contato */
.contato::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* Aplicando um fundo mesclado entre gradiente e uma imagem */
    background: var(--form-background) no-repeat,
        url("../imgs/fundo-formulario.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

.contato p{
    color: var(--text-color);
}

.formulario{
    position: relative;
    background-color: var(--primary-bg-color);
    border-radius: 0.5rem;
    border: 2px solid #FFA833;
    max-width: 500px;
}

label{
    color: #FFA833;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
}

.form-control{
    background-color: var(--primary-bg-color);
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #FFA833;
    color: white;
    transition: border 1s;
}

.form-control:focus{
    background-color: var(--primary-bg-color);
    outline: none;
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid #00ffdd;
    color: var(--text-color);
}

textarea{
    background-color: var(--primary-bg-color);
    border: 0;
    border-bottom: 2px solid #FFA833;
    color: var(--text-color);
    outline: none;
    transition: border 1s;
}

textarea:focus{
    border-color: #00ffdd;
}

.form-control::-webkit-input-placeholder, ::-webkit-input-placeholder {
    color: var(--text-color);
}

/* Rodapé */
footer{
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--primary-bg-color);
}

/* Estilos de esconder e mostrar do IntersectionObserver */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}
.show {
    opacity: 1;
    transform: translateY(0);
}

/* Tela Tablet */
@media (min-width: 768px) {
    .logo{
        font-size: 2.5em;
    }

    main, .formulario input, .btn{
        font-size: 1em;
    }

    footer{
        font-size: 0.9em;
    }

    .video__fundo{
        margin-top: 75px;
    }

    .apresentacao{
        font-size: 1em;
        margin-top: 150px;
        text-align: left;
        max-width: 60%;
        padding-left: 2rem !important;
    }

    .accordion-button{
        font-size: 0.7em;
    }

    .formulario{
        padding: 2rem !important;
    }

    label{
        font-size: 1.1em;
    }
}

/* Tela TV */
@media (min-width: 1600px) {
    main, .formulario input, .btn{
        font-size: 1.1em;
    }

    footer{
        font-size: 1em;
    }

    .apresentacao{
        max-width: 40%;
        padding-left: 4rem !important;
    }

    .accordion-button{
        font-size: 0.8em;
    }

    label{
        font-size: 1.2em;
    }
}